:root {
  font-family: custom393fdd42e8d049c093e59;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: 8, 80, 161;
}

.logo {
  width: 250px;
  align-self: center;
}

.customPlugin>.inner {
  max-width: none;
}

#headerbordertop {
  height: initial;
}

.jumbotron {
  background-color: rgb(var(--blue));
  color: white;
}